.dropDownListJob {
  position: relative;
  display: inline-block; /* Đảm bảo phần tử có thể chứa nội dung dạng inline */

  &:hover::after {
    content: ""; /* Tạo một thanh ngang */
    position: absolute;
    bottom: 0; /* Đặt thanh ngang ở dưới cùng */
    left: 0;
    width: 100%; /* Chiều rộng bằng với chiều rộng của dropDownListJob */
    height: 3px; /* Chiều cao của thanh ngang */
    background-color: #1dbf73; /* Màu của thanh ngang */
  }
}
