.dropDownListJob {
  position: relative;
  display: inline-block; /* Đảm bảo phần tử có thể chứa nội dung dạng inline */

  &:hover::after {
    content: ""; /* Tạo một thanh ngang */
    position: absolute;
    bottom: 0; /* Đặt thanh ngang ở dưới cùng */
    left: 0;
    width: 100%; /* Chiều rộng bằng với chiều rộng của dropDownListJob */
    height: 3px; /* Chiều cao của thanh ngang */
    background-color: #1dbf73; /* Màu của thanh ngang */
  }
}
.ant-dropdown {
  .ant-dropdown-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 836px) {
    .ant-dropdown-menu {
      display: block; /* Hoặc flex nếu bạn muốn */
    }
  }
}
