.carouselListJobBar {
  .owl-nav {
    .disabled {
      visibility: hidden;
    }
    .owl-prev {
      position: absolute;
      top: -5px;
      left: 0px;
      width: 44px;
      height: 44px;
      background: rgba(255, 255, 255, 0.385) !important;
      i {
        color: black;
      }
    }
    .owl-next {
      position: absolute;
      top: -5px;
      right: 0px;
      width: 44px;
      height: 44px;
      background: rgba(255, 255, 255, 0.385) !important;
      i {
        color: black;
      }
    }
  }
}
.ant-dropdown-menu-item:hover {
  background: none !important;
}
.ant-dropdown-menu-item {
  a {
    color: black;
  }
}

.owl-carousel {
  .owl-item {
    display: inline-block !important; /* Ngăn không cho các item xuống dòng */
    white-space: nowrap; /* Ngăn ngắt dòng */
  }
}
