.slick-arrow {
  opacity: 1;
  z-index: 1;
  //   overflow: visible !important;

  border-radius: 50%;

  &::before {
    font-size: 40px;
    color: rgb(192, 187, 187);
  }
}
.slick-next {
  right: -10px !important;
}
.slick-prev {
  left: -27px !important;
}
