.dots {
  &:hover {
    color: #74767e;
    background-color: white;
  }
}
.absolute {
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    opacity: 1;
    background: linear-gradient(
      180deg,
      transparent,
      transparent 37%,
      rgba(0, 0, 0, 0.7)
    );
    width: 100%;
  }
  .by {
    &:hover {
      text-decoration: underline;
    }
  }
}
