.dropdown-suggest {
  max-width: 600px;
  min-width: unset !important;
}
/* headerTemplate.scss */

header {
  transition: all 0.3s ease-in-out;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
