.item-cart {
  cursor: pointer;
  &::before {
    background: radial-gradient(rgb(223, 244, 223), white);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
