.banner {
  background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/84c449beda884aa8f9f72023e2d8b3fd-1705308514872/hero-lg-x1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-position: top;
  @media (max-width: 1024px) {
    height: 380px;
  }
  @media (max-width: 767px) {
    height: 250px;
  }
  .ant-input-group {
    position: relative;
    input {
      height: 55px !important;
      border-radius: 10px !important;
    }
  }
  .ant-input-group-addon {
    inset-inline-start: unset !important;
    position: absolute !important;
    right: 5px !important;
    top: 5px !important;
    z-index: 100;
    width: 45px !important;
    height: 45px !important;
    button {
      background-color: #013a12 !important;
      border-color: #013a12 !important;
      border-radius: 10px !important;
      .anticon-search {
        font-size: 20px !important;
      }
    }
  }
}
.dropdown-suggest {
  max-width: 660px;
  min-width: unset !important;
  inset: 434px auto auto 365px;
}
